# functions exposed by package
export( data.infection_survey )
export( data.contact_matrix )
export( data.population )
export( data.variants )
export( model.survey )
export( model.survey.fit )

# required packages
import( rstan )
import( Rcpp )
import( RcppEigen )
import( RcppParallel )
import( methods )
import( rstantools )
import( StanHeaders )
import( data.table )
import( plotly)
import( R6 )
import( readxl )
import( stringr )
import( stringi )
importFrom(RcppParallel,RcppParallelLibs)


# dynamic link for Rcpp
useDynLib( EpiAgeVar, .registration = TRUE )
